body {
	color: white;
}
.navbar .navbar-nav {
  display: inline-block;
  float: none;
  vertical-align: top;
}

.navbar .navbar-collapse {
  text-align: center;
}

/* Search */

#artistName {
	margin-top: 15px;
	width: 60%;
}
